.contentSectionAboutUs {
  padding: 120px 8%;
  display: flex;
}
.contentImgAboutUs {
  width: 50%;
  padding: 0 24px;
}
.contentTextAboutUs {
  padding: 0 24px;
}
.contentImgAboutUs img {
  max-width: 100%;
}

@media (max-width: 1025px) {
  .contentSectionAboutUs {
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
  }
  .contentTextAboutUs {
    padding: 0;
  }
  .contentImgAboutUs {
    width: 45%;
  }
  .contentTextAboutUs {
    width: 55%;
  }
}

@media (max-width: 982px) {
  .contentSectionAboutUs {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contentImgAboutUs {
    width: 100%;
  }
  .contentTextAboutUs {
    width: 100%;
    margin-top: 35px;
  }
}
