.button_white {
  border: 2px solid #48534F;
  font-weight: 600;
  background-color: transparent;
  color: #171717;
  padding: 17px 27px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.button_white:hover {
  background-color: #000;
  color: white;
}
.button_white svg:hover {
  fill: white;
}
.button_white svg,
.button_responsive svg {
  margin-left: 12px;
}

.button_Orange {
  width: 220px;
  background-color: #48534F;
  color: white;
  border-radius: 5px;
  padding: 17px 27px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.button_Orange:hover {
  background-color: #000;
  
}
.button_responsive {
  border: 2px solid #48534F;
  font-weight: 600;
  background-color: transparent;
  color: #171717;
  padding: 17px 27px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin-left: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.textButton {
  display: flex;
  justify-content: space-between;
}
.textButton span {
  margin-right: 8px;
}
