.contentControlSearch {
  position: relative;
}
.contentControlSearch input {
  width: 100%;
  height: 60px;
  background-color: #fcfaf3;
  padding: 15px 20px 15px 60px;
  border: unset;
  border-radius: 5px;
}
.imgSearchControl {
  position: absolute;
  padding-left: 16px;
  top: 18px;
}

.activeLabel {
  position: absolute;
  top: -40px;
  font-weight: 600;
  color: #171717;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.96px;
}
.contentControlSearch input:focus {
  outline: none;
}
