.contentCommunity {
  display: flex;
  justify-content: space-between;
}
.contentCommunity h1 {
  font-size: 60px;
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: 600;
  color: white;
}
.descriptionCommunity {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.06;
  color: white;
}

.contentButtonCommunity {
  display: flex;
  align-items: center;
}
.buttonCommunity,
.buttonCommunityDiscord {
  width: 172px;
  height: 53px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.buttonCommunity a,
.buttonCommunityDiscord a {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  line-height: 1.2;
}
.buttonCommunityDiscord {
  margin-right: 20px;
}

@media (max-width: 769px) {
  .contentCommunity {
    flex-direction: column;
    align-items: center;
  }
  .contentCommunity h1 {
    font-size: 30px;
  }
  .contentButtonCommunity {
    margin-top: 35px;
  }
}
