.contentTotalFooter {
  padding-top: 80px;
  position: relative;
}
.containerFooter {
  margin: 0 8%;
}
.containerFooter h3 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.96px;
  color: #171717;
}
.contentColumnFoter {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8%;
}
.contentColumTwoFooter {
  display: flex;
}
.contentTextParrafo {
  font-weight: 400;
  font-size: 16px;
  color: #67687a;
  line-height: 2.06;
  margin: 15px 0 30px;
}
.imageFooterBackground {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}
.contetnInputControl {
  display: flex;
}
.contetnInputControl button {
  background-color: #48534F;
  padding: 18px;
  height: 56px;
  border: none;
  border-radius: 5px;
  margin-top: 37.5px;
}
.contetnInputControl label {
  font-size: 16px;
  margin-bottom: 50px;
}
.contetnInputControl input {
  width: 100%;
  height: 56px;
  padding: 12px;
  background-color: #fcfaf3;
  border: none;
  border-radius: 10px 0 0 10px;
  margin-top: 8px;
}
.contetnInputControl input:focus {
  outline: none;
}

.contentLisColumTwo {
  list-style: none;
}
.contentLisColumTwo li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #67687a;
  line-height: 2.06;
}
.contentLisColumTwo li a:hover {
  color: #48534F;
}
.contentLisColumTwo li {
  margin-bottom: 10px;
}
.contentLisColumTwo img {
  margin-right: 8px;
}

.listIconAcount {
  display: flex;
  list-style: none;
}
.listIconAcount li a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 23, 23, 0.05);
  margin-right: 8px;
  cursor: pointer;
}
.contentFourColumn {
  z-index: 30;
}
.contentFooterCopyRight {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  font-weight: 400;
  font-size: 16px;
  color: #67687a;
  line-height: 2.06;
  background-color: #fcfaf3;
  z-index: 5;
  position: relative;
}
.listContentFooterCopyRight {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.listContentFooterCopyRight li a {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #67687a;
  line-height: 2.06;
  text-decoration: none;
}

@media (max-width: 1025px) {
  .contentColumnFoter {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
  }
}
@media (max-width: 982px) {
  .contentFooterCopyRight {
    flex-direction: column;
  }
  .contentFooterCopyRight {
    padding-left: 4%;
    padding-right: 4%;
  }
  .containerFooter {
    margin: 0 4%;
  }
  .listContentFooterCopyRight {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .contentColumnFoter {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media (max-width: 441px) {
.listContentFooterCopyRight {
  grid-template-columns: 1fr 1fr;
}
}

