.contentTotalSectionStatisticsSection {
  margin-bottom: 96px;
  margin-left: 8%;
  margin-right: 8%;
}
.contentCardsStatisticsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.cardStatisticss {
  width: 100%;
  padding: 110px 40px 40px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin: 0 0.5rem;
  position: relative;
}
.iconStatistics {
  position: absolute;
  top: -40px;
  background-color: #48534F;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.contentTextStatistics h2 {
  font-family: "Kumbh Sans", sans-serif;
  -webkit-text-stroke: 1.5px #48534F;
  font-size: 70px;
  color: transparent;
}
.contentTextStatistics h3 {
  color: #171717;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
@media (max-width: 1025px) {
  .contentTotalSectionStatisticsSection {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 60px;
  }
  .contentCardsStatisticsSection {
    grid-template-columns: 1fr 1fr;
  }
  .cardStatisticss {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .contentCardsStatisticsSection {
    grid-template-columns: 1fr;
  }
  .cardStatisticss {
    margin: 0;
    margin-bottom: 40px;
  }
}

